.section-1 {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include to(1024px) {
    height: 60vh;
  }
  &-text {
    text-align: center;
    max-width: 300px;
    margin-top: 15%;
    .normal {
      font-family: 'Inter';
    }
    @include to(1600px) {
      max-width: 250px;
    }
    @include to(1024px) {
      margin-top: var(--ofset40);
    }
    @include to(640px) {
      max-width: 60%;
    }
  }
}

.section-2 {
  position: relative;
  height: 100vh;
  @include to(1024px) {
    height: 40vh;
  }
  img {
    height: 100%;
    object-fit: cover;
  }
  &:after {
    position: absolute;
    left: 50%;
    top: -90px;
    transform: translateX(-50%);
    height: 180px;
    width: 1px;
    background: $bc;
    content: "";
    @include to(1600px) {
      height: 120px;
      top: -60px;
    }
    @include to(640px) {
      height: 100px;
      top: -50px;
    }
  }
}

.main-swiper, .main-swiper2, .main-swiper3 {
  padding: 0 var(--fields120);
  position: relative;

  .bottom-swiper-nav {
    margin-top: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    .swiper-button-prev, .swiper-button-next {
      position: static;
      margin-top: 0;
      height: 50px;
      width: 50px;
      &:after {
        content: none;
      }
    }
    .first-column__slide-num {
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 300;
      line-height: 150%;
      text-transform: none;
      color: $bc;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 30px;
    }
    @include to(1024px) {
      display: flex;
    }
  }
  .swiper-slide {
    img, video {
      height: 600px;
      width: 100%;
      object-fit: cover;
      @include to(1600px) {
        height: 428px;
      }
      @include to(1024px) {
        height: 402px;
      }
      @include to(640px) {
        height: 210px;
      }
    }
    .slide-text {
      padding: var(--ofset20) 0;
      border-bottom: 1px solid $bc;
      .num {
        font-family: 'Inter';
        font-size: var(--font18);
        font-weight: 300;
        line-height: 150%;
        text-transform: none;
        color: $dark-gray;
        margin-right: 0.6em;
      }
      @include to(1024px) {
        height: 70px;
      }
    }
  }
}

.moving-arrow, .moving-arrow2, .moving-arrow3 {
  position: fixed;
  left: 0;
  top: 0;
  will-change: left, top;

  z-index: 10;
  opacity: 0;

  @include to(1024px) {
    display: none;
  }

  .arrow-style, .arrow-style2, .arrow-style3 {
    transition: transform .3s ease-in-out;
    height: 70px;
    width: 70px;
    fill: transparent;
  }

  &.left-side {
    .arrow-style, .arrow-style2, .arrow-style3 {
      transition: transform .3s ease-in-out;
      transform: rotate(-180deg);
    }
  }
}

.section-6 {
  .description-left {
    justify-content: flex-start;
    &-bottom {
      margin-top: var(--ofset20);
    }
  }
}

.section-8 {
  position: relative;
  .title2 {
    position: absolute;
    right: 0;
    bottom: -20%;
    @include to(1024px) {
      display: none;
    }
  }
}

.section-9 {
  .btn-style2 {
    margin-top: var(--ofset40);
    margin-right: auto;
    margin-left: 30%;
    @include to(1024px) {
      margin-left: 0;
    }
  }
  .img-left {
    img {
      height: 890px;
      object-fit: cover;
      @include to(1024px) {
        height: 402px;
      }
      @include to(640px) {
        height: 210px;
      }
    }
  }
}

.section-10 {
  margin-bottom: var(--ofset210);
  &-bottom {
    @include to(1024px) {
      flex-direction: column-reverse;
      .description-left {
        margin-bottom: 0;
        margin-top: 50px;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
    @include to(640px) {
      .description-left {
        margin-top: var(--ofset30);
        flex-direction: column;
      }
    }
    .location {
      margin-bottom: var(--ofset30);
      width: 60%;
      @include to(1024px) {
        padding-right: 10%;
        margin-bottom: 0;
      }
      @include to(640px) {
        padding-right: 0;
        width: 80%;
        margin-bottom: var(--ofset30);
      }
      .text {
        transition: all .3s ease-in-out;
        @include from(1023px) {
          &:hover {
            transition: all .3s ease-in-out;
            color: #D3A756;
          }
        }
      }
      .title3 {
        margin-bottom: var(--ofset20);
      }
      .table {
        margin-top: var(--ofset20);
        pointer-events: none;
      }
      .btn-style2 {
        margin-top: var(--ofset20);
      }
    }
    .tell-btn, .mail-btn {
      margin-bottom: var(--ofset30);
      transition: all .3s ease-in-out;
      @include from(1023px) {
        &:hover {
          transition: all .3s ease-in-out;
          color: #D3A756;
        }
      }
    }
    .social-network  {
      a {
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        svg {
          height: 25px;
          width: 25px;
          stroke: $brown;
          transition: all .3s ease-in-out;
        }
        @include from(1023px) {
          &:hover {
            svg {
              stroke: #D3A756;
              transition: all .3s ease-in-out;
            }
          }
        }
      }
    }
  }
}
.map {
  width: 100%;
  position: relative;
}
#map {
  width: 100%;
  height: 600px;
  @include to(1600px) {
    height: 428px;
  }
  @include to(640px) {
    height: 210px;
  }
  iframe {
    height: 100%;
    width: 100%;
  }
}

.mobile-column {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 482px;
  height: 212px;
  z-index: 11;
  transition: all 0.7s ease-in-out;
  position: fixed;
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
  @include to(1600px) {
    width: 338px;
    height: 149px;
  }
  @include to(1024px) {
    position: static;
    transform: none;
  }
  @include to(640px) {
    width: 216px;
    height: 95px;
  }
  &.not-on-top {
    position: fixed;
    top: 2%;
    height: 50px;
    width: 113.68px;
    transition: all 0.4s ease-in-out;
  }
}

.render-height {
  height: 80vh;
  object-fit: cover;
  @include to(1024px) {
    height: auto;
  }
}
