footer
    .footer-main.row
        .footer-main-left.desktop
            ul.footer-nav
                li
                    a(href="").footer-text О нас
                li
                    a(href="").footer-text Этапы сдачи
                li
                    a(href="").footer-text Галерея
                li
                    a(href="").footer-text Контакты
            .footer-links.column
                a(href="tel:+905072501073").footer-text.tell-btn
                    span + 90-507-250-10-73
                a(href="mailto:info@hayatestate.com").footer-text.mail-btn
                    span info@hayatestate.com
                .row.social-network
                    a(href="")
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.59383 13.171L17.3748 20.8983C17.4764 20.9877 17.5995 21.0492 17.732 21.0767C17.8645 21.1042 18.0019 21.0969 18.1307 21.0553C18.2595 21.0138 18.3753 20.9395 18.4668 20.8398C18.5582 20.74 18.6222 20.6182 18.6524 20.4863L22.3257 4.45771C22.3574 4.31913 22.3508 4.17451 22.3064 4.03943C22.262 3.90435 22.1816 3.78394 22.0739 3.69118C21.9662 3.59841 21.8352 3.5368 21.695 3.51299C21.5548 3.48918 21.4108 3.50407 21.2785 3.55605L3.25535 10.6366C3.09827 10.6983 2.9654 10.8092 2.87662 10.9527C2.78783 11.0962 2.74791 11.2646 2.76282 11.4327C2.77773 11.6008 2.84668 11.7596 2.95934 11.8853C3.072 12.0109 3.22231 12.0967 3.3878 12.1298L8.59383 13.171Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.59375 13.1712L21.886 3.57129" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.9792 17.0301L9.92743 20.0819C9.81817 20.1911 9.67896 20.2655 9.52741 20.2957C9.37587 20.3258 9.21878 20.3104 9.07603 20.2512C8.93328 20.1921 8.81126 20.092 8.72542 19.9635C8.63957 19.835 8.59375 19.684 8.59375 19.5295V13.1709" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    a(href="")
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5 16.4062C14.6574 16.4062 16.4062 14.6574 16.4062 12.5C16.4062 10.3426 14.6574 8.59375 12.5 8.59375C10.3426 8.59375 8.59375 10.3426 8.59375 12.5C8.59375 14.6574 10.3426 16.4062 12.5 16.4062Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16.7969 3.51562H8.20312C5.61429 3.51562 3.51562 5.61429 3.51562 8.20312V16.7969C3.51562 19.3857 5.61429 21.4844 8.20312 21.4844H16.7969C19.3857 21.4844 21.4844 19.3857 21.4844 16.7969V8.20312C21.4844 5.61429 19.3857 3.51562 16.7969 3.51562Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.5781 8.20312C18.0096 8.20312 18.3594 7.85335 18.3594 7.42188C18.3594 6.9904 18.0096 6.64062 17.5781 6.64062C17.1467 6.64062 16.7969 6.9904 16.7969 7.42188C16.7969 7.85335 17.1467 8.20312 17.5781 8.20312Z" fill="white"/>
                        </svg>
                    a(href="")
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.9688 6.21647H18.4688V5.71647V2.48678V2.05086L18.0369 1.99145C17.6914 1.94391 16.5682 1.84375 15.2674 1.84375C13.8249 1.84375 12.5599 2.2996 11.6557 3.22069C10.7517 4.14152 10.2626 5.47183 10.2626 7.11634V9.46094H7.8125H7.3125V9.96094V13.5715V14.0715H7.8125H10.2626V22.6562V23.1562H10.7626H14.3797H14.8797V22.6562V14.0723H17.2105H17.6521L17.7067 13.6341L18.156 10.0235L18.2259 9.46178H17.6599H14.8788V7.47475C14.8792 6.97239 14.9533 6.68678 15.0892 6.52013C15.2058 6.37724 15.459 6.21647 16.1145 6.21647H17.9688Z" stroke="white"/>
                        </svg>
                    a(href="")
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.46939 17.857C2.16429 15.6569 1.70723 13.0561 2.18404 10.5428C2.66085 8.02962 4.03873 5.7769 6.05894 4.20769C8.07915 2.63849 10.6027 1.86075 13.1558 2.02051C15.7088 2.18027 18.1158 3.26655 19.9246 5.07537C21.7334 6.88418 22.8197 9.2911 22.9795 11.8442C23.1393 14.3972 22.3615 16.9208 20.7923 18.941C19.2231 20.9612 16.9704 22.3391 14.4572 22.816C11.944 23.2928 9.34314 22.8357 7.14305 21.5306L7.14308 21.5305L3.51506 22.5671C3.36496 22.61 3.20612 22.612 3.055 22.5728C2.90388 22.5336 2.76598 22.4548 2.6556 22.3444C2.54521 22.234 2.46635 22.0961 2.4272 21.945C2.38804 21.7939 2.39 21.635 2.43289 21.4849L3.46947 17.8569L3.46939 17.857Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.8549 17.9687C13.827 17.9702 12.809 17.7688 11.8592 17.3762C10.9093 16.9835 10.0463 16.4073 9.31948 15.6805C8.5927 14.9537 8.01647 14.0907 7.62382 13.1408C7.23116 12.191 7.0298 11.173 7.03126 10.1451C7.03358 9.42168 7.32277 8.72868 7.83538 8.21815C8.34798 7.70762 9.04216 7.42126 9.76563 7.42188C9.88429 7.42188 10.0008 7.45325 10.1035 7.51281C10.2061 7.57237 10.2912 7.658 10.3501 7.76103L11.4918 9.75901C11.5606 9.8795 11.5961 10.0162 11.5946 10.1549C11.5932 10.2937 11.5548 10.4296 11.4834 10.5486L10.5665 12.0767C11.0382 13.1236 11.8764 13.9618 12.9233 14.4335L14.4514 13.5167C14.5704 13.4453 14.7063 13.4068 14.8451 13.4054C14.9838 13.4039 15.1205 13.4394 15.241 13.5083L17.239 14.65C17.342 14.7088 17.4276 14.7939 17.4872 14.8965C17.5468 14.9992 17.5781 15.1157 17.5781 15.2344C17.5761 15.957 17.2888 16.6496 16.7789 17.1617C16.2689 17.6737 15.5775 17.9637 14.8549 17.9687Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
        .footer-form
            form(data-footer-form autocomplete="off")
                .form-title Остались вопросы?
                .form-text Оставьте свои контакты и наш менеджер свяжется с вами.
                .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
                    input(type='text' name="name" placeholder="Имя").form-field__input
                    .input-message(data-input-message)
                .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
                    input(type='text' name="phone" placeholder="Телефон").form-field__input
                    .mask-absolute.js-mask-absolute Телефон
                    .input-message(data-input-message)
                button(type="submit" data-btn-submit).submit-btn.btn-style
                    span(data-btn-submit-text).link__text.usn.light-text Отправить
        .footer-main-right.desktop
            .footer-location
                a(href="").footer-text
                    span Alanya, Mahmutlar Mahallesi, Barbaros Caddesi, No: 233С
                .column.footer-table
                    .footer-text Пн-Сб: с 09:00 до 18:00
                    .footer-text Вс: выходной
            .pageup
                +svg('footer-arrow')
        .mobile-footer-wrapper
            .footer-main-left
                ul.footer-nav
                    li
                        a(href="").footer-text О нас
                    li
                        a(href="").footer-text Этапы сдачи
                    li
                        a(href="").footer-text Галерея
                    li
                        a(href="").footer-text Контакты
                .footer-links.column
                    a(href="tel:+905072501073").footer-text.tell-btn
                        span + 90-507-250-10-73
                    a(href="mailto:info@hayatestate.com").footer-text.mail-btn
                        span info@hayatestate.com
                    .row.social-network
                        a(href="")
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.59383 13.171L17.3748 20.8983C17.4764 20.9877 17.5995 21.0492 17.732 21.0767C17.8645 21.1042 18.0019 21.0969 18.1307 21.0553C18.2595 21.0138 18.3753 20.9395 18.4668 20.8398C18.5582 20.74 18.6222 20.6182 18.6524 20.4863L22.3257 4.45771C22.3574 4.31913 22.3508 4.17451 22.3064 4.03943C22.262 3.90435 22.1816 3.78394 22.0739 3.69118C21.9662 3.59841 21.8352 3.5368 21.695 3.51299C21.5548 3.48918 21.4108 3.50407 21.2785 3.55605L3.25535 10.6366C3.09827 10.6983 2.9654 10.8092 2.87662 10.9527C2.78783 11.0962 2.74791 11.2646 2.76282 11.4327C2.77773 11.6008 2.84668 11.7596 2.95934 11.8853C3.072 12.0109 3.22231 12.0967 3.3878 12.1298L8.59383 13.171Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.59375 13.1712L21.886 3.57129" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.9792 17.0301L9.92743 20.0819C9.81817 20.1911 9.67896 20.2655 9.52741 20.2957C9.37587 20.3258 9.21878 20.3104 9.07603 20.2512C8.93328 20.1921 8.81126 20.092 8.72542 19.9635C8.63957 19.835 8.59375 19.684 8.59375 19.5295V13.1709" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        a(href="")
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.5 16.4062C14.6574 16.4062 16.4062 14.6574 16.4062 12.5C16.4062 10.3426 14.6574 8.59375 12.5 8.59375C10.3426 8.59375 8.59375 10.3426 8.59375 12.5C8.59375 14.6574 10.3426 16.4062 12.5 16.4062Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.7969 3.51562H8.20312C5.61429 3.51562 3.51562 5.61429 3.51562 8.20312V16.7969C3.51562 19.3857 5.61429 21.4844 8.20312 21.4844H16.7969C19.3857 21.4844 21.4844 19.3857 21.4844 16.7969V8.20312C21.4844 5.61429 19.3857 3.51562 16.7969 3.51562Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17.5781 8.20312C18.0096 8.20312 18.3594 7.85335 18.3594 7.42188C18.3594 6.9904 18.0096 6.64062 17.5781 6.64062C17.1467 6.64062 16.7969 6.9904 16.7969 7.42188C16.7969 7.85335 17.1467 8.20312 17.5781 8.20312Z" fill="white"/>
                            </svg>
                        a(href="")
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.9688 6.21647H18.4688V5.71647V2.48678V2.05086L18.0369 1.99145C17.6914 1.94391 16.5682 1.84375 15.2674 1.84375C13.8249 1.84375 12.5599 2.2996 11.6557 3.22069C10.7517 4.14152 10.2626 5.47183 10.2626 7.11634V9.46094H7.8125H7.3125V9.96094V13.5715V14.0715H7.8125H10.2626V22.6562V23.1562H10.7626H14.3797H14.8797V22.6562V14.0723H17.2105H17.6521L17.7067 13.6341L18.156 10.0235L18.2259 9.46178H17.6599H14.8788V7.47475C14.8792 6.97239 14.9533 6.68678 15.0892 6.52013C15.2058 6.37724 15.459 6.21647 16.1145 6.21647H17.9688Z" stroke="white"/>
                            </svg>
                        a(href="")
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.46939 17.857C2.16429 15.6569 1.70723 13.0561 2.18404 10.5428C2.66085 8.02962 4.03873 5.7769 6.05894 4.20769C8.07915 2.63849 10.6027 1.86075 13.1558 2.02051C15.7088 2.18027 18.1158 3.26655 19.9246 5.07537C21.7334 6.88418 22.8197 9.2911 22.9795 11.8442C23.1393 14.3972 22.3615 16.9208 20.7923 18.941C19.2231 20.9612 16.9704 22.3391 14.4572 22.816C11.944 23.2928 9.34314 22.8357 7.14305 21.5306L7.14308 21.5305L3.51506 22.5671C3.36496 22.61 3.20612 22.612 3.055 22.5728C2.90388 22.5336 2.76598 22.4548 2.6556 22.3444C2.54521 22.234 2.46635 22.0961 2.4272 21.945C2.38804 21.7939 2.39 21.635 2.43289 21.4849L3.46947 17.8569L3.46939 17.857Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.8549 17.9687C13.827 17.9702 12.809 17.7688 11.8592 17.3762C10.9093 16.9835 10.0463 16.4073 9.31948 15.6805C8.5927 14.9537 8.01647 14.0907 7.62382 13.1408C7.23116 12.191 7.0298 11.173 7.03126 10.1451C7.03358 9.42168 7.32277 8.72868 7.83538 8.21815C8.34798 7.70762 9.04216 7.42126 9.76563 7.42188C9.88429 7.42188 10.0008 7.45325 10.1035 7.51281C10.2061 7.57237 10.2912 7.658 10.3501 7.76103L11.4918 9.75901C11.5606 9.8795 11.5961 10.0162 11.5946 10.1549C11.5932 10.2937 11.5548 10.4296 11.4834 10.5486L10.5665 12.0767C11.0382 13.1236 11.8764 13.9618 12.9233 14.4335L14.4514 13.5167C14.5704 13.4453 14.7063 13.4068 14.8451 13.4054C14.9838 13.4039 15.1205 13.4394 15.241 13.5083L17.239 14.65C17.342 14.7088 17.4276 14.7939 17.4872 14.8965C17.5468 14.9992 17.5781 15.1157 17.5781 15.2344C17.5761 15.957 17.2888 16.6496 16.7789 17.1617C16.2689 17.6737 15.5775 17.9637 14.8549 17.9687Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            .footer-main-right
                .footer-location
                    a(href="").footer-text
                        span Alanya, Mahmutlar Mahallesi, Barbaros Caddesi, No: 233С
                    .column.footer-table
                        .footer-text Пн-Сб: с 09:00 до 18:00
                        .footer-text Вс: выходной
        .mobile-pageup.pageup
            +svg('footer-arrow')
    .footer-bottom.row
        .footer-bottom-text © 2022 "Hayat Dream Homes". Все права защищены.
        a(href="")
            img(src="assets/images/smarto-logo.svg" alt="img").smarto
