header.row
    img(src="assets/images/logo.svg" alt="img").logo.desk
    a(href="index.html").mob
        img(src="assets/images/logo.svg" alt="img").logo-mob
    .header-left.row.desk
        .btn-style(data-call-form)
            span
                span Заказать звонок
        ul.nav-wrapper.row.js-menu-main
            li
                a(href="#about" data-text="О нас").header-text16
                    span О нас
            li
                a(href="#sale" data-text="Этапы сдачи").header-text16
                    span Этапы сдачи
            li
                a(href="#gallery" data-text="Галерея").header-text16
                    span Галерея
            li
                a(href="#contacts" data-text="Контакты").header-text16
                    span Контакты
    .header-right.row
        .lang-block
            ul
                li.active
                    a(href="index-ru.html").header-text18 Рус
                li
                    a(href="index-eng.html").header-text18 Eng
        .mob.sideform-call-mob.js-mobile-call
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25" r="24.5" fill="white" stroke="#BF9850"/>
            <path d="M33.9994 29.4765V32.1862C34.0005 32.4377 33.9488 32.6867 33.8479 32.9172C33.7469 33.1477 33.5988 33.3546 33.413 33.5247C33.2273 33.6947 33.008 33.8242 32.7693 33.9048C32.5305 33.9854 32.2775 34.0153 32.0265 33.9927C29.2415 33.6907 26.5664 32.7409 24.216 31.2197C22.0293 29.8329 20.1753 27.9827 18.7858 25.8003C17.2563 23.4439 16.3044 20.7611 16.0073 17.9692C15.9847 17.7194 16.0145 17.4676 16.0947 17.23C16.1749 16.9923 16.3038 16.7739 16.4732 16.5887C16.6426 16.4034 16.8489 16.2554 17.0787 16.1541C17.3086 16.0528 17.5571 16.0003 17.8084 16.0001H20.5235C20.9627 15.9958 21.3885 16.151 21.7215 16.4368C22.0545 16.7227 22.2721 17.1196 22.3335 17.5537C22.4481 18.4208 22.6607 19.2723 22.9671 20.0918C23.0888 20.4151 23.1152 20.7664 23.043 21.1042C22.9708 21.442 22.8031 21.752 22.5598 21.9976L21.4104 23.1447C22.6988 25.406 24.5748 27.2784 26.8406 28.5642L27.99 27.4171C28.2361 27.1742 28.5467 27.0069 28.8852 26.9348C29.2236 26.8628 29.5757 26.8891 29.8996 27.0106C30.7207 27.3164 31.5739 27.5285 32.4428 27.6429C32.8824 27.7048 33.2839 27.9258 33.5709 28.2639C33.858 28.6019 34.0105 29.0335 33.9994 29.4765Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        a(href="tel:+905072501073").tell.header-text18.desk
            span + 90-507-250-10-73
        a(href="#").btn-style2
            span
                span Выбрать квартиру
        a(href="").btn3d-mob
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="20" fill="url(#paint0_linear_286_2913)"/>
            <path d="M22.0867 17.2764L24.1939 15.1914M25.398 14L24.1939 15.1914L25.398 14ZM19.6123 19.7247C19.9231 20.0282 20.1702 20.3896 20.3394 20.7879C20.5085 21.1863 20.5964 21.6139 20.5978 22.046C20.5993 22.4781 20.5144 22.9062 20.3479 23.3057C20.1815 23.7052 19.9368 24.0682 19.628 24.3737C19.3192 24.6793 18.9524 24.9213 18.5486 25.086C18.1449 25.2507 17.7122 25.3348 17.2755 25.3333C16.8388 25.3319 16.4067 25.245 16.004 25.0776C15.6014 24.9102 15.2362 24.6657 14.9295 24.3581C14.3263 23.7402 13.9926 22.9126 14.0001 22.0535C14.0077 21.1945 14.3559 20.3727 14.9699 19.7652C15.5838 19.1578 16.4143 18.8132 17.2825 18.8057C18.1507 18.7983 18.9871 19.1285 19.6117 19.7253L19.6123 19.7247ZM19.6123 19.7247L22.0867 17.2764L19.6123 19.7247ZM22.0867 17.2764L23.8928 19.0635L26 16.9785L24.1939 15.1914L22.0867 17.2764Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <defs>
            <linearGradient id="paint0_linear_286_2913" x1="1.71777e-07" y1="4.33333" x2="41.3785" y2="6.25075" gradientUnits="userSpaceOnUse">
            <stop stop-color="#D3A756"/>
            <stop offset="1" stop-color="#B48D46"/>
            </linearGradient>
            </defs>
            </svg>

        .mob.menu-mob(data-menu)
            .span-wrapper
                span
                span
    .menu-wrap
        ul.nav-mobile
            li
                a(href="#about").header-text16 О нас
            li
                a(href="#sale").header-text16 Этапы сдачи
            li
                a(href="#gallery").header-text16 Галерея
            li
                a(href="#contacts").header-text16 Контакты
