.page__inner {
  	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 2;
	min-height: 100vh;
	height: auto;
	overflow-x: hidden;
	background: $wc;
	.page__content {
		flex-grow: 1;
	}
	.page__footer-wrapper {
		flex-shrink: 0;
	}
}

.row {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
}

.section-top-offset {
	margin-top: var(--ofset210);
}

.left-offset {
	padding-left: var(--fields120);
}

.bottom-offset {
	margin-bottom: var(--ofset30);
}

.btn-style {
	width: var(--btn-w);
	height: var(--btn-h);
	border-radius: 8px;
	border: 1px solid;
	border-color: $bc;
	background: $bc;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Inter';
	font-size: var(--btn-font);
	line-height: 150%;
	text-transform: uppercase;
	color: $bc;
	overflow: hidden;
	position: relative;
	transform: translateZ(0);
	span {
		text-align: center;
		position: relative;
		display: block;
	}
	> span {
		overflow: hidden;
		> span {
			overflow: hidden;
		}
	}
	&:before {
		content: '';
		background: $wc;
		transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
		transform-origin: 100% 50%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	@include from(1023px) {
		&:hover {
			cursor: pointer;
			transform: translateZ(0);
			> span {
				> span {
					color: $wc;
					animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
				}
			}
			&:before {
				transform: scale3d(0,1,1);
				transform-origin: 0% 50%;
			}
		}
	}
}

.btn-style2 {
	width: var(--btn-w);
	height: var(--btn-h);
	border-radius: 8px;
	background: linear-gradient(92.65deg, #D3A756 0.48%, #B48D46 99.56%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Inter';
	font-size: var(--btn-font);
	line-height: 150%;
	text-transform: uppercase;
	color: $wc;
	overflow: hidden;
	position: relative;
	transform: translateZ(0);
	span {
		text-align: center;
		position: relative;
		display: block;
	}
	> span {
		overflow: hidden;
		> span {
			overflow: hidden;
		}
	}
	&:before {
		content: '';
		background: $bc;
		transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
		transform-origin: 100% 50%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	@include from(1023px) {
		transform: translateZ(0);
		&:hover {
			cursor: pointer;
			> span {
				> span {
					animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
				}
			}
			&:before {
				transform: scale3d(0,1,1);
				transform-origin: 0% 50%;
			}
		}
	}
}

.btn-style3 {
	width: var(--btn-w);
	height: var(--btn-h);
	border-radius: 8px;
	border: 1px solid;
	border-color: #D3A756;
	background: linear-gradient(92.65deg, #D3A756 0.48%, #B48D46 99.56%);
	transition: all .3s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Inter';
	font-size: var(--btn-font);
	line-height: 150%;
	text-transform: uppercase;
	color: $bc;
	overflow: hidden;
	position: relative;
	transform: translateZ(0);
	span {
		text-align: center;
		position: relative;
		display: block;
	}
	> span {
		overflow: hidden;
		> span {
			overflow: hidden;
		}
	}
	&:before {
		content: '';
		background: $footer-background;
		transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
		transform-origin: 100% 50%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	@include from(1023px) {
		transform: translateZ(0);
		&:hover {
			cursor: pointer;
			> span {
				> span {
					color: $wc;
					animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
				}
			}
			&:before {
				transform: scale3d(0,1,1);
				transform-origin: 0% 50%;
			}
		}
	}
}

.btn-style4 {
	width: var(--btn-w);
	height: var(--btn-h);
	border-radius: 8px;
	border: none;
	background: linear-gradient(92.65deg, #D3A756 0.48%, #B48D46 99.56%);
	transition: all .3s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Inter';
	font-size: var(--btn-font);
	line-height: 150%;
	text-transform: uppercase;
	color: $wc;
	overflow: hidden;
	position: relative;
	transform: translateZ(0);
	span {
		text-align: center;
		position: relative;
		display: block;
	}
	> span {
		overflow: hidden;
		> span {
			overflow: hidden;
		}
	}
	&:before {
		content: '';
		background: $bc;
		transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
		transform-origin: 100% 50%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	@include from(1023px) {
		transform: translateZ(0);
		&:hover {
			cursor: pointer;
			> span {
				> span {
					color: $wc;
					animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
				}
			}
			&:before {
				transform: scale3d(0,1,1);
				transform-origin: 0% 50%;
			}
		}
	}
}

.normal {
	font-family: 'tinos';
	font-size: var(--font18);
	font-weight: 400;
	line-height: 120%;
	text-transform: none;
	color: $brown;
}

.italic {
	font-family: 'tinos';
	font-size: var(--font18);
	font-weight: 400;
	line-height: 120%;
	text-transform: none;
	color: #BF9850;
}

.title {
	font-family: 'Cormorant';
	font-size: var(--title-font3);
	font-weight: 400;
	line-height: 100%;
	text-transform: none;
	color: $bc;
}

.title2 {
	font-family: 'Cormorant';
	font-size: var(--title-font);
	font-weight: 400;
	text-transform: uppercase;
	line-height: 120%;
	color: $grey;
}

.title3 {
	font-family: 'tinos';
	font-size: var(--title-font4);
	font-weight: 400;
	line-height: 120%;
	color: $bc;
	text-transform: uppercase;
}

.title4 {
	font-family: 'Cormorant';
	font-size: var(--title-font2);
	font-weight: 400;
	text-transform: uppercase;
	line-height: 120%;
	color: $grey;
}

.title5 {
	font-family: 'Cormorant';
	font-size: var(--title-font3);
	font-weight: 400;
	text-transform: none;
	line-height: 120%;
	color: $bc;
}

.text {
	font-family: 'Inter';
	font-size: var(--font18);
	font-weight: 400;
	line-height: 140%;
	text-transform: none;
	color: $brown;
}


.first-info-wrapper {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	position: relative;
	@include to(1024px) {
		flex-direction: column;
		padding: 0 var(--fields120);
	}
	.col-50 {
		width: 50%;
		@include to(1024px) {
			width: 100%;
		}
	}
	.description-left {
		padding-left: var(--fields120);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		@include to(1024px) {
			padding-left: 0;
			margin-bottom: 40px;
		}
		@include to(640px) {
			margin-bottom: 30px;
		}
		.description-left-top {
			.normal {
				font-family: 'Inter';
			}
		}
		.cormorat-36.first-info-text {
			margin-bottom: var(--ofset20);
			width: 70%;
			@include to(640px) {
				width: 100%;
			}
		}
		.cormorat-36.first-info-text .normal {
			font-size: var(--font36);
			text-transform: uppercase;
		}
		.cormorat-36.first-info-text .italic {
			font-size: var(--font36);
			text-transform: uppercase;
		}
		.cormorat-36.second-info-text {
			width: 70%;
			@include to(1024px) {
				width: 100%;
			}
		}
		.cormorat-36.second-info-text.margin-top {
			margin-top: var(--ofset20);
		}
		.cormorat-36.second-info-text .normal {
			font-size: var(--font36);
			font-family: 'tinos';
		}
		.cormorat-36.second-info-text .italic {
			font-size: var(--font36);
			font-family: 'tinos';
		}
		.text {
			width: 70%;
			@include to(640px) {
				width: 100%;
			}
		}
	}
	.img-right {
		position: relative;
		img {
			height: 600px;
			object-fit: cover;
			@include to(1024px) {
				height: 402px;
				object-fit: cover;
			}
			@include to(640px) {
				height: 210px;
			}
		}
		.title2 {
			position: absolute;
			bottom: -100px;
			left: -65px;
			@include to(1600px) {
				bottom: -70px;
				left: -45px;
			}
			@include to(1024px) {
				bottom: -52px;
				left: 0;
			}
			@include to(640px) {
				bottom: -37px;
			}
		}
	}
	.title4 {
		position: absolute;
		left: -11%;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		@include to(1600px) {
			left: -10%;
		}
		@include to(1024px) {
			display: none;
		}
	}
}

.second-info-wrapper {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	@include to(1024px) {
		flex-direction: column-reverse;
		padding: 0 var(--fields120);
	}
	.col-50 {
		width: 50%;
		@include to(1024px) {
			width: 100%;
		}
	}
	.description-right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		padding-right: var(--fields120);
		@include to(1024px) {
			margin-bottom: 30px;
			align-items: flex-start;
		}
		.cormorat-36.first-info-text {
			margin-bottom: var(--ofset20);
			width: 70%;
			@include to(640px) {
				width: 100%;
			}
			.normal {
				font-size: var(--font36);
				text-transform: uppercase;
			}
			.italic {
				font-size: var(--font36);
				text-transform: uppercase;
			}
		}
		.text {
			width: 70%;
			@include to(640px) {
				width: 100%;
			}
		}
	}
	.img-left {
		img {
			height: 600px;
			object-fit: cover;
			@include to(1024px) {
				height: 402px;
				object-fit: cover;
			}
			@include to(640px) {
				height: 210px;
			}
		}
	}
}

.desk {
	@include to(1024px) {
		display: none;
	}
}
.mob {
	@include from(1023px) {
		display: none;
	}
}

.circle-animation {
	@include from(1023px) {
		overflow: hidden;
		transform: translateZ(0);
		cursor: pointer;
		&:before {
			content: '';
			background: $footer-background;
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			border-radius: 50%;
			transform: translate3d(0, 0, 0);
			transition: transform 0.3s;
			transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
			position: absolute;
			top: 0;
			left: 0;
		}
		&:hover {
			&:before {
				transform: translate3d(0, 100%, 0);
			}
			svg {
				transition: all .3s ease-in-out;
				fill: $footer-background;
			}
		}
	}
}

