$default-font: "Inter", sans-serif;
$default-font2: "tinos", sans-serif;
$default-font3: "Cormorant", sans-serif;

$wc: #fff;
$grey: #EFEAE5;
$dark-gray: #BABABA;
$bc: #1A1E21;
$brown: #464646;
$footer-background: #1A1E21;

:root {
  --fields120: 120px;

  --ofset210: 210px;

  --ofset50: 50px;
  --ofset40: 40px;
  --ofset30: 30px;
  --ofset20: 20px;
  --footer-ofset: 16px;

  --header-h: 100px;
  --header-ofset50: 40px;
  --header-ofset30: 16px;

  --btn-w: 230px;
  --btn-h: 50px;

  --header-footer-font: 14px;
  --btn-font: 14px;

  --title-font: 200px;
  --title-font2: 172px;
  --title-font3: 74px;
  --title-font4: 36px;

  --font36: 36px;
  --font32: 32px;
  --font18: 18px;
  --font16: 16px;
}

@media screen and (max-width: 1600px){
  :root {
    --fields120: 90px;

    --ofset210: 160px;

    --ofset40: 30px;
    --ofset30: 20px;
    --ofset20: 16px;
    --footer-ofset: 16px;

    --header-h: 90px;
    --header-ofset50: 30px;

    --btn-w: 185px;
    --btn-h: 40px;

    --header-footer-font: 12px;
    --btn-font: 12px;
    --title-font: 140px;
    --title-font2: 124px;
    --title-font3: 54px;
    --title-font4: 26px;
    --font36: 26px;
    --font32: 24px;
    --font18: 14px;
    --font16: 12px;
  }
}

@media screen and (max-width: 1024px){
  :root {
    --fields120: 30px;

    --ofset210: 80px;

    --ofset40: 30px;
    --ofset30: 20px;
    --ofset20: 16px;
    --footer-ofset: 16px;

    --header-h: 90px;
    --header-ofset50: 30px;

    --btn-w: 185px;
    --btn-h: 40px;

    --header-footer-font: 12px;
    --btn-font: 12px;
    --title-font: 100px;
    --title-font2: 124px;
    --title-font3: 44px;
    --title-font4: 26px;
    --font36: 24px;
    --font32: 24px;
    --font18: 14px;
    --font16: 12px;
  }
}


@media screen and (max-width: 640px){
  :root {
    --header-h: 60px;
    --header-ofset50: 15px;

    --fields120: 15px;
    --fields216: 15px;

    --ofset210: 60px;

    --title-font: 64px;
    --title-font3: 40px;
    --title-font4: 24px;
    --font32: 18px;
    --font36: 24px;

  }
}
