footer {
  padding: 100px var(--fields120) 0;
  background: $footer-background;
  @include to(1600px) {
    padding: 80px var(--fields120) 0;
  }
  @include to(640px) {
    padding: 60px var(--fields120) 0;
    position: relative;
  }
  .footer-form {
    width: calc(100%/3 - 120px);
    form {
      align-items: flex-start;
      [data-animation="none"] .input-message {
        text-align: left;
        justify-content: flex-start;
      }
      .form-field__input {
        &::placeholder {
          text-align: left;
        }
      }
      .mask-absolute {
        text-align: left;
        display: flex;
        align-items: center;
        height: 60px;
      }
    }
    @include to(1600px) {
      width: calc(100%/3 - 80px);
    }
    @include to(1024px) {
      width: 50%;
      padding-right: 10%;
      order: 1;
    }
    @include to(640px) {
      width: 100%;
      margin: 0 auto;
      padding-right: 0;
    }
    .form-title {
      font-family: 'tinos';
      font-size: var(--font36);
      font-weight: 400;
      line-height: 120%;
      text-transform: uppercase;
      color: #E9ECF0;
      text-align: left;
    }
    .form-text {
      font-family: 'Inter';
      font-size: var(--font18);
      font-weight: 400;
      line-height: 140%;
      text-transform: none;
      color: #9AA2A7;
      text-align: left;
      margin-top: 8px;
    }
    .form-field:not(#t) {
      background: transparent;
    }
    .form-field-input, .form-field__input {
      height: 60px;
      border-bottom: 1px solid $brown;
    }
    .btn-style3 {
      color: $wc;
      margin-top: 40px;
    }
  }
  .footer-main {
    justify-content: space-between;
    align-items: flex-start;
    @include to(640px) {
      flex-direction: column;
    }
  }
  .footer-main-left, .footer-main-right {
    width: calc(100%/3 - 80px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &.desktop {
      @include to(1024px) {
        display: none;
      }
    }
  }
  .footer-text {
    font-family: 'Inter';
    font-size: var(--header-footer-font);
    font-weight: 300;
    line-height: 100%;
    text-transform: none;
    color: #9AA2A7;
    transition: all .3s ease-in-out;
    @include from(1023px) {
      &:hover {
        transition: all .3s ease-in-out;
        color: $brown;
      }
    }
    @include to(1600px) {
      font-size: var(--btn-font);
    }
  }
  .footer-nav {
    li {
      margin-bottom: var(--header-ofset30);
      line-height: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .social-network {
    a {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      svg {
        stroke: #E9ECF0;
        transition: all .3s ease-in-out;
      }
      @include from(1023px) {
        &:hover {
          svg {
            stroke: #BF9850;
            transition: all .3s ease-in-out;
          }
        }
      }
    }
  }
  .tell-btn, .mail-btn {
    margin-bottom: var(--header-ofset30);
  }
  .footer-location {
    width: 50%;
    @include to(1600px) {
      width: 60%;
    }
    @include to(640px) {
      width: 100%;
    }
  }
  .footer-table {
    margin-top:  var(--header-ofset30);
    pointer-events: none;
    gap: 7px;
  }
  .footer-bottom {
    margin-top: 95px;
    justify-content: space-between;
    align-items: center;
    @include to(1024px) {
      margin-top: 80px;
    }
    @include to(640px) {
      margin-top: 60px;
    }
    &-text {
      font-family: 'Inter';
      font-size: 12px;
      font-weight: 300;
      line-height: 150%;
      text-transform: none;
      color: $dark-gray;
      @include to(640px) {
        width: 70%;
      }
    }
    .smarto {
      height: 71px;
      width: 64px;
      @include to(1600px) {
        height: 60px;
        width: 54px;
      }
    }
  }
}

.pageup {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px solid #BF9850;
  justify-self: flex-end;
  position: relative;
  background: #BF9850;
  @include to(1600px) {
    height: 50px;
    width: 50px;
  }
  @include to(1024px) {
    background: $footer-background;
  }
  svg {
    transition: all .3s ease-in-out;
    height: 13px;
    width: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #BF9850;
  }
}

.mobile-footer-wrapper {
  display: none;
  order: 2;
  flex-direction: column;
  width: 40%;
  .footer-main-left, .footer-main-right {
    flex-direction: column;
    width: 100%;
  }
  @include to(1024px) {
    display: flex;
    .footer-nav, .footer-links {
      margin-bottom: 50px;
    }
  }
  @include to(640px) {
    width: 100%;
    margin-top: 60px;
    flex-direction: row;
    .footer-links {
      margin-bottom: 0;
    }
  }
}

.mobile-pageup {
  display: none;
  order: 3;
  @include to(1024px) {
    display: flex;
  }
  @include to(640px) {
    position: absolute;
    right: var(--fields120);
    top: 60px;
  }
}
