.header-text16 {
  font-family: 'Inter';
  font-size: var(--header-footer-font);
  line-height: 150%;
  text-transform: none;
  color: $bc;
}

.header-text18 {
  font-family: 'Inter';
  font-size: var(--btn-font);
  line-height: 150%;
  text-transform: none;
  color: $bc;
}

header {
  height: var(--header-h);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--fields120);
  box-shadow: 0px 10px 50px 0px #0000001A;
  background: $wc;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  @include to(640px) {
    .btn-style2 {
      display: none;
    }
  }
  .btn3d-mob {
    display: none;
    height: 40px;
    width: 40px;
    @include to(640px) {
      display: flex;
    }
  }
}

.header-left {
  align-items: center;
  justify-content: flex-start;
  width: 45%;
  .btn-style {
    margin-right: var(--header-ofset50);
  }
  .nav-wrapper {
    li {
      margin-right: var(--header-ofset30);
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
      a {
        position: relative;
        overflow: hidden;
        padding-bottom: 2px;
        @include from(1023px) {
          &::before {
            height: 1px;
            top: 95%;
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.5s cubic-bezier(0.5, 0.5, 0.3, 1);
            content: '';
            position: absolute;
            width: 100%;
            background: $brown;
            left: 0;
            pointer-events: none;
          }
          &::after {
            content: attr(data-text);
            height: 100%;
            top: 0;
            background: none;
            transform-origin: 100% 50%;
            transform: translate3d(150%, 0, 0);
            transition: transform 0.5s cubic-bezier(0.5, 0.5, 0.3, 1);
            position: absolute;
            width: 100%;
            left: 0;
            pointer-events: none;
          }
          span {
            display: inline-block;
            transition: transform 0.5s cubic-bezier(0.5, 0.5, 0.3, 1);
          }
          &:hover{
            transform: translateZ(0) translateZ(0);
            &:before {
              transform-origin: 0% 50%;
              transform: scale3d(1, 1, 1);
            }
            &:after {
              transform: translate3d(0, 0, 0) translateZ(0);
            }
            span {
              transform: translate3d(-150%, 0, 0);
            }
          }
        }
      }
    }
  }
}

.header-right {
  align-items: center;
  justify-content: flex-end;
  width: 45%;
  @include to(1024px) {
    width: auto;
  }
  .tell {
    margin-right: var(--header-ofset50);
    position: relative;
    border-bottom: 1px solid $bc;
    padding-bottom: 2px;
    transition: all .3s ease-in-out;
    @include from(1023px) {
      &:hover {
        transition: all .3s ease-in-out;
        color: #D3A756;
        border-bottom: 1px solid #D3A756;
      }
    }
  }
}

.lang-block {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50px;
  height: 20px;
  margin-right: var(--header-ofset50);
  @include to(1600px) {
    width: 40px;
  }
  &:after {
    content: url(../images/arrow.svg);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease-in-out;
    transform: rotate(0deg);
  }
  li {
    list-style: none;
    height: 20px;
    transition: opacity 0.1s linear;
    opacity: 0;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all .3s ease-in-out;
      @include from(1023px) {
        &:hover {
          transition: all .3s ease-in-out;
          color: #D3A756;
        }
      }
    }
    &.active {
      opacity: 1;

      &:hover {
        li {
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    li {
      opacity: 1;
    }

    &:after{
      transform: rotate(180deg);
      transition: all .3s ease-in-out;
    }
  }
}

.logo-mob {
  height: 40px;
  width: 91px;
  @include to(640px) {
    width: 68.25px;
    height: 30px;
  }
}

.sideform-call-mob {
  width: 50px;
  height: 50px;
  margin-right: var(--header-ofset50);
  svg {
    width: 50px;
    height: 50px;
  }
  @include to(640px) {
    width: 40px;
    height: 40px;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.menu-mob {
  width: 50px;
  height: 50px;
  border: 1px solid #BF9850;
  border-radius: 100%;
  position: relative;
  margin-left: var(--header-ofset50);
  @include to(640px) {
    width: 40px;
    height: 40px;
  }
  .span-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    @include to(640px) {
      gap: 4px;
    }
    &.active {
      gap: 0;
      span {
        transition: all 0.1s ease-in-out;
        transform: rotate(45deg);
        &:last-child {
          transform: rotate(-45deg);
          margin-top: -1px;
        }
      }
    }
    span {
      content: '';
      width: 15px;
      height: 1px;
      background: $bc;
      transition: all 0.1s ease-in-out;
      @include to(640px) {
        width: 11px;
      }
    }
  }
}
