.menu-wrap{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background: $wc;
  margin-top: var(--header-h);
  padding: 30px var(--fields120);
  border-bottom: 1px solid #B48D46;
  &.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
  .nav-mobile {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include to(640px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    li {
      @include to(640px) {
        width: calc(100%/2);
        padding: 3px;
      }
      a {
        font-size: 20px;
        @include to(640px) {
          font-size: 14px;
        }
      }
    }
  }
}
